In [1]:
import numpy as np 
import pandas as pd 
import os

In [2]:
spam_file = open('spam/00001.7848dde101aa985090474a91ec93fcf0', 'r')
spam_file.read()

'From 12a1mailbot1@web.de  Thu Aug 22 13:17:22 2002\nReturn-Path: <12a1mailbot1@web.de>\nDelivered-To: zzzz@localhost.spamassassin.taint.org\nReceived: from localhost (localhost [127.0.0.1])\n\tby phobos.labs.spamassassin.taint.org (Postfix) with ESMTP id 136B943C32\n\tfor <zzzz@localhost>; Thu, 22 Aug 2002 08:17:21 -0400 (EDT)\nReceived: from mail.webnote.net [193.120.211.219]\n\tby localhost with POP3 (fetchmail-5.9.0)\n\tfor zzzz@localhost (single-drop); Thu, 22 Aug 2002 13:17:21 +0100 (IST)\nReceived: from dd_it7 ([210.97.77.167])\n\tby webnote.net (8.9.3/8.9.3) with ESMTP id NAA04623\n\tfor <zzzz@spamassassin.taint.org>; Thu, 22 Aug 2002 13:09:41 +0100\nFrom: 12a1mailbot1@web.de\nReceived: from r-smtp.korea.com - 203.122.2.197 by dd_it7  with Microsoft SMTPSVC(5.5.1775.675.6);\n\t Sat, 24 Aug 2002 09:42:10 +0900\nTo: <dcek1a1@netsgo.com>\nSubject: Life Insurance - Why Pay More?\nDate: Wed, 21 Aug 2002 20:31:57 -1600\nMIME-Version: 1.0\nMessage-ID: <0103c1042001882DD_IT7@dd_it7>\nContent-Type: text/html; charset="iso-8859-1"\nContent-Transfer-Encoding: quoted-printable\n\n<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">\n<HTML><HEAD>\n<META content=3D"text/html; charset=3Dwindows-1252" http-equiv=3DContent-T=\nype>\n<META content=3D"MSHTML 5.00.2314.1000" name=3DGENERATOR></HEAD>\n<BODY><!-- Inserted by Calypso -->\n<TABLE border=3D0 cellPadding=3D0 cellSpacing=3D2 id=3D_CalyPrintHeader_ r=\nules=3Dnone \nstyle=3D"COLOR: black; DISPLAY: none" width=3D"100%">\n  <TBODY>\n  <TR>\n    <TD colSpan=3D3>\n      <HR color=3Dblack noShade SIZE=3D1>\n    </TD></TR></TD></TR>\n  <TR>\n    <TD colSpan=3D3>\n      <HR color=3Dblack noShade SIZE=3D1>\n    </TD></TR></TBODY></TABLE><!-- End Calypso --><!-- Inserted by Calypso=\n --><FONT \ncolor=3D#000000 face=3DVERDANA,ARIAL,HELVETICA size=3D-2><BR></FONT></TD><=\n/TR></TABLE><!-- End Calypso --><FONT color=3D#ff0000 \nface=3D"Copperplate Gothic Bold" size=3D5 PTSIZE=3D"10">\n<CENTER>Save up to 70% on Life Insurance.</CENTER></FONT><FONT color=3D#ff=\n0000 \nface=3D"Copperplate Gothic Bold" size=3D5 PTSIZE=3D"10">\n<CENTER>Why Spend More Than You Have To?\n<CENTER><FONT color=3D#ff0000 face=3D"Copperplate Gothic Bold" size=3D5 PT=\nSIZE=3D"10">\n<CENTER>Life Quote Savings\n<CENTER>\n<P align=3Dleft></P>\n<P align=3Dleft></P></FONT></U></I></B><BR></FONT></U></B></U></I>\n<P></P>\n<CENTER>\n<TABLE border=3D0 borderColor=3D#111111 cellPadding=3D0 cellSpacing=3D0 wi=\ndth=3D650>\n  <TBODY></TBODY></TABLE>\n<TABLE border=3D0 borderColor=3D#111111 cellPadding=3D5 cellSpacing=3D0 wi=\ndth=3D650>\n  <TBODY>\n  <TR>\n    <TD colSpan=3D2 width=3D"35%"><B><FONT face=3DVerdana size=3D4>Ensurin=\ng your \n      family\'s financial security is very important. Life Quote Savings ma=\nkes \n      buying life insurance simple and affordable. We Provide FREE Access =\nto The \n      Very Best Companies and The Lowest Rates.</FONT></B></TD></TR>\n  <TR>\n    <TD align=3Dmiddle vAlign=3Dtop width=3D"18%">\n      <TABLE borderColor=3D#111111 width=3D"100%">\n        <TBODY>\n        <TR>\n          <TD style=3D"PADDING-LEFT: 5px; PADDING-RIGHT: 5px" width=3D"100=\n%"><FONT \n            face=3DVerdana size=3D4><B>Life Quote Savings</B> is FAST, EAS=\nY and \n            SAVES you money! Let us help you get started with the best val=\nues in \n            the country on new coverage. You can SAVE hundreds or even tho=\nusands \n            of dollars by requesting a FREE quote from Lifequote Savings. =\nOur \n            service will take you less than 5 minutes to complete. Shop an=\nd \n            compare. SAVE up to 70% on all types of Life insurance! \n</FONT></TD></TR>\n        <TR><BR><BR>\n          <TD height=3D50 style=3D"PADDING-LEFT: 5px; PADDING-RIGHT: 5px" \n          width=3D"100%">\n            <P align=3Dcenter><B><FONT face=3DVerdana size=3D5><A \n            href=3D"http://website.e365.cc/savequote/">Click Here For Your=\n \n            Free Quote!</A></FONT></B></P></TD>\n          <P><FONT face=3DVerdana size=3D4><STRONG>\n          <CENTER>Protecting your family is the best investment you\'ll eve=\nr \n          make!<BR></B></TD></TR>\n        <TR><BR><BR></STRONG></FONT></TD></TR></TD></TR>\n        <TR></TR></TBODY></TABLE>\n      <P align=3Dleft><FONT face=3D"Arial, Helvetica, sans-serif" size=3D2=\n></FONT></P>\n      <P></P>\n      <CENTER><BR><BR><BR>\n      <P></P>\n      <P align=3Dleft><BR></B><BR><BR><BR><BR></P>\n      <P align=3Dcenter><BR></P>\n      <P align=3Dleft><BR></B><BR><BR></FONT>If you are in receipt of this=\n email \n      in error and/or wish to be removed from our list, <A \n      href=3D"mailto:coins@btamail.net.cn">PLEASE CLICK HERE</A> AND TYPE =\nREMOVE. If you \n      reside in any state which prohibits e-mail solicitations for insuran=\nce, \n      please disregard this \n      email.<BR></FONT><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR=\n><BR><BR><BR></FONT></P></CENTER></CENTER></TR></TBODY></TABLE></CENTER></=\nCENTER></CENTER></CENTER></CENTER></BODY></HTML>\n\n\n\n'

In [3]:
ham_file = open('easy_ham/0001.ea7e79d3153e7469e7a9c3e0af6a357e', 'r')
ham_file.read()

'From exmh-workers-admin@redhat.com  Thu Aug 22 12:36:23 2002\nReturn-Path: <exmh-workers-admin@example.com>\nDelivered-To: zzzz@localhost.netnoteinc.com\nReceived: from localhost (localhost [127.0.0.1])\n\tby phobos.labs.netnoteinc.com (Postfix) with ESMTP id D03E543C36\n\tfor <zzzz@localhost>; Thu, 22 Aug 2002 07:36:16 -0400 (EDT)\nReceived: from phobos [127.0.0.1]\n\tby localhost with IMAP (fetchmail-5.9.0)\n\tfor zzzz@localhost (single-drop); Thu, 22 Aug 2002 12:36:16 +0100 (IST)\nReceived: from listman.example.com (listman.example.com [66.187.233.211]) by\n    dogma.slashnull.org (8.11.6/8.11.6) with ESMTP id g7MBYrZ04811 for\n    <zzzz-exmh@example.com>; Thu, 22 Aug 2002 12:34:53 +0100\nReceived: from listman.example.com (localhost.localdomain [127.0.0.1]) by\n    listman.redhat.com (Postfix) with ESMTP id 8386540858; Thu, 22 Aug 2002\n    07:35:02 -0400 (EDT)\nDelivered-To: exmh-workers@listman.example.com\nReceived: from int-mx1.corp.example.com (int-mx1.corp.example.com\n    [172.16.52.254]) by listman.redhat.com (Postfix) with ESMTP id 10CF8406D7\n    for <exmh-workers@listman.redhat.com>; Thu, 22 Aug 2002 07:34:10 -0400\n    (EDT)\nReceived: (from mail@localhost) by int-mx1.corp.example.com (8.11.6/8.11.6)\n    id g7MBY7g11259 for exmh-workers@listman.redhat.com; Thu, 22 Aug 2002\n    07:34:07 -0400\nReceived: from mx1.example.com (mx1.example.com [172.16.48.31]) by\n    int-mx1.corp.redhat.com (8.11.6/8.11.6) with SMTP id g7MBY7Y11255 for\n    <exmh-workers@redhat.com>; Thu, 22 Aug 2002 07:34:07 -0400\nReceived: from ratree.psu.ac.th ([202.28.97.6]) by mx1.example.com\n    (8.11.6/8.11.6) with SMTP id g7MBIhl25223 for <exmh-workers@redhat.com>;\n    Thu, 22 Aug 2002 07:18:55 -0400\nReceived: from delta.cs.mu.OZ.AU (delta.coe.psu.ac.th [172.30.0.98]) by\n    ratree.psu.ac.th (8.11.6/8.11.6) with ESMTP id g7MBWel29762;\n    Thu, 22 Aug 2002 18:32:40 +0700 (ICT)\nReceived: from munnari.OZ.AU (localhost [127.0.0.1]) by delta.cs.mu.OZ.AU\n    (8.11.6/8.11.6) with ESMTP id g7MBQPW13260; Thu, 22 Aug 2002 18:26:25\n    +0700 (ICT)\nFrom: Robert Elz <kre@munnari.OZ.AU>\nTo: Chris Garrigues <cwg-dated-1030377287.06fa6d@DeepEddy.Com>\nCc: exmh-workers@example.com\nSubject: Re: New Sequences Window\nIn-Reply-To: <1029945287.4797.TMDA@deepeddy.vircio.com>\nReferences: <1029945287.4797.TMDA@deepeddy.vircio.com>\n    <1029882468.3116.TMDA@deepeddy.vircio.com> <9627.1029933001@munnari.OZ.AU>\n    <1029943066.26919.TMDA@deepeddy.vircio.com>\n    <1029944441.398.TMDA@deepeddy.vircio.com>\nMIME-Version: 1.0\nContent-Type: text/plain; charset=us-ascii\nMessage-Id: <13258.1030015585@munnari.OZ.AU>\nX-Loop: exmh-workers@example.com\nSender: exmh-workers-admin@example.com\nErrors-To: exmh-workers-admin@example.com\nX-Beenthere: exmh-workers@example.com\nX-Mailman-Version: 2.0.1\nPrecedence: bulk\nList-Help: <mailto:exmh-workers-request@example.com?subject=help>\nList-Post: <mailto:exmh-workers@example.com>\nList-Subscribe: <https://listman.example.com/mailman/listinfo/exmh-workers>,\n    <mailto:exmh-workers-request@redhat.com?subject=subscribe>\nList-Id: Discussion list for EXMH developers <exmh-workers.example.com>\nList-Unsubscribe: <https://listman.example.com/mailman/listinfo/exmh-workers>,\n    <mailto:exmh-workers-request@redhat.com?subject=unsubscribe>\nList-Archive: <https://listman.example.com/mailman/private/exmh-workers/>\nDate: Thu, 22 Aug 2002 18:26:25 +0700\n\n    Date:        Wed, 21 Aug 2002 10:54:46 -0500\n    From:        Chris Garrigues <cwg-dated-1030377287.06fa6d@DeepEddy.Com>\n    Message-ID:  <1029945287.4797.TMDA@deepeddy.vircio.com>\n\n\n  | I can\'t reproduce this error.\n\nFor me it is very repeatable... (like every time, without fail).\n\nThis is the debug log of the pick happening ...\n\n18:19:03 Pick_It {exec pick +inbox -list -lbrace -lbrace -subject ftp -rbrace -rbrace} {4852-4852 -sequence mercury}\n18:19:03 exec pick +inbox -list -lbrace -lbrace -subject ftp -rbrace -rbrace 4852-4852 -sequence mercury\n18:19:04 Ftoc_PickMsgs {{1 hit}}\n18:19:04 Marking 1 hits\n18:19:04 tkerror: syntax error in expression "int ...\n\nNote, if I run the pick command by hand ...\n\ndelta$ pick +inbox -list -lbrace -lbrace -subject ftp -rbrace -rbrace  4852-4852 -sequence mercury\n1 hit\n\nThat\'s where the "1 hit" comes from (obviously).  The version of nmh I\'m\nusing is ...\n\ndelta$ pick -version\npick -- nmh-1.0.4 [compiled on fuchsia.cs.mu.OZ.AU at Sun Mar 17 14:55:56 ICT 2002]\n\nAnd the relevant part of my .mh_profile ...\n\ndelta$ mhparam pick\n-seq sel -list\n\n\nSince the pick command works, the sequence (actually, both of them, the\none that\'s explicit on the command line, from the search popup, and the\none that comes from .mh_profile) do get created.\n\nkre\n\nps: this is still using the version of the code form a day ago, I haven\'t\nbeen able to reach the cvs repository today (local routing issue I think).\n\n\n\n_______________________________________________\nExmh-workers mailing list\nExmh-workers@redhat.com\nhttps://listman.redhat.com/mailman/listinfo/exmh-workers\n\n'

In [4]:
spam_file.close()
ham_file.close()

In [5]:
spam_df = pd.DataFrame(columns = ['mail', 'type'])
ham_df = pd.DataFrame(columns = ['mail', 'type'])

In [6]:
for filename in os.listdir('spam/'):
    if filename.startswith('00'):
        mail = open(os.path.join('spam/', filename), 'r', encoding='latin1')
        mail_content = mail.read()
        new_row = {'mail':mail_content, 'type':'spam'}
        spam_df = spam_df.append(new_row, ignore_index = True)
        mail.close()

In [7]:
spam_df.head()

                                                mail  type
0  From 12a1mailbot1@web.de  Thu Aug 22 13:17:22 ...  spam
1  From ilug-admin@linux.ie  Thu Aug 22 13:27:39 ...  spam
2  From sabrina@mx3.1premio.com  Thu Aug 22 14:44...  spam
3  From wsup@playful.com  Thu Aug 22 16:17:00 200...  spam
4  From social-admin@linux.ie  Thu Aug 22 16:37:3...  spam

In [8]:
spam_df.shape

(500, 2)

In [9]:
for filename in os.listdir('easy_ham/'):
    if filename.startswith('0501'):
        break
    elif filename.startswith('0'):
        mail = open(os.path.join('easy_ham/', filename), 'r', encoding='latin1')
        mail_content = mail.read()
        new_row = {'mail':mail_content, 'type':'ham'}
        ham_df = ham_df.append(new_row, ignore_index = True)
        mail.close()

In [10]:
ham_df.head()

                                                mail type
0  From exmh-workers-admin@redhat.com  Thu Aug 22...  ham
1  From Steve_Burt@cursor-system.com  Thu Aug 22 ...  ham
2  From timc@2ubh.com  Thu Aug 22 13:52:59 2002\n...  ham
3  From irregulars-admin@tb.tf  Thu Aug 22 14:23:...  ham
4  From exmh-users-admin@redhat.com  Thu Aug 22 1...  ham

In [11]:
ham_df.shape

(500, 2)

In [12]:
df = pd.concat([spam_df, ham_df], axis = 0)

In [13]:
df.head()

                                                mail  type
0  From 12a1mailbot1@web.de  Thu Aug 22 13:17:22 ...  spam
1  From ilug-admin@linux.ie  Thu Aug 22 13:27:39 ...  spam
2  From sabrina@mx3.1premio.com  Thu Aug 22 14:44...  spam
3  From wsup@playful.com  Thu Aug 22 16:17:00 200...  spam
4  From social-admin@linux.ie  Thu Aug 22 16:37:3...  spam

In [14]:
df.shape

(1000, 2)

In [15]:
df = df.sample(frac = 1)
df.reset_index(inplace = True)
df.head()

   index                                               mail  type
0    236  From fork-admin@xent.com  Wed Aug 28 10:50:44 ...   ham
1    271  From cheapsmokes@terra.es  Wed Sep 11 13:57:36...  spam
2    181  From rssfeeds@example.com  Tue Oct  8 10:56:14...   ham
3    464  From vinnet@mail.com  Wed Sep 25 17:22:05 2002...  spam
4     14  From weseloh@bibsam.kb.se  Fri Aug 23 11:03:26...  spam

In [16]:
df.drop(columns = ['index'], inplace = True, axis = 1)

In [17]:
df.head()

                                                mail  type
0  From fork-admin@xent.com  Wed Aug 28 10:50:44 ...   ham
1  From cheapsmokes@terra.es  Wed Sep 11 13:57:36...  spam
2  From rssfeeds@example.com  Tue Oct  8 10:56:14...   ham
3  From vinnet@mail.com  Wed Sep 25 17:22:05 2002...  spam
4  From weseloh@bibsam.kb.se  Fri Aug 23 11:03:26...  spam

#### Exploratory Data Analysis

##### Converting text to lowercase

##### Removing HTML tags and special characters

In [18]:
import re

In [19]:
def email_to_text(email):
    lower_text = email.lower()
    cleaned_text = re.sub("<[^>]*>", " ", lower_text)
    cleaned_text = re.sub('[^A-Za-z0-9]+', ' ', cleaned_text)
    return cleaned_text

In [20]:
df['mail'] = df['mail'].apply(lambda mail : email_to_text(mail))

In [21]:
df.head()

                                                mail  type
0  from fork admin xent com wed aug 28 10 50 44 2...   ham
1  from cheapsmokes terra es wed sep 11 13 57 36 ...  spam
2  from rssfeeds example com tue oct 8 10 56 14 2...   ham
3  from vinnet mail com wed sep 25 17 22 05 2002 ...  spam
4  from weseloh bibsam kb se fri aug 23 11 03 26 ...  spam

##### Stemming and URL extraction

In [22]:
from nltk.stem import PorterStemmer
stemmer = PorterStemmer()

In [24]:
def stemming(text):
    return stemmer.stem(text)

In [25]:
df['mail'] = df['mail'].apply(lambda mail : stemming(mail))

In [26]:
df.head()

                                                mail  type
0  from fork admin xent com wed aug 28 10 50 44 2...   ham
1  from cheapsmokes terra es wed sep 11 13 57 36 ...  spam
2  from rssfeeds example com tue oct 8 10 56 14 2...   ham
3  from vinnet mail com wed sep 25 17 22 05 2002 ...  spam
4  from weseloh bibsam kb se fri aug 23 11 03 26 ...  spam

##### Train test split

In [27]:
from sklearn.model_selection import train_test_split
x = df['mail']
y = df['type']
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.30, random_state = 42)

In [28]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(700,)
(300,)
(700,)
(300,)

##### Creating the model for counting words and converting to vectors

In [29]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.pipeline import make_pipeline 
model = make_pipeline(TfidfVectorizer(), MultinomialNB())
model.fit(x_train, y_train)

Pipeline(steps=[('tfidfvectorizer', TfidfVectorizer()),
                ('multinomialnb', MultinomialNB())])

In [30]:
#Predicting data over train and test datasets
train_pred = model.predict(x_train)
test_pred = model.predict(x_test)

##### Creating confusion matrix

In [31]:
#Creating a confusion matrix
pd.crosstab(y_test, test_pred, rownames = ['Actual Label'], colnames = ['Predicted Label'])

Predicted Label  ham  spam
Actual Label
ham              137     1
spam              10   152

In [33]:
from sklearn.metrics import classification_report
print(classification_report(y_test, test_pred))

              precision    recall  f1-score   support

         ham       0.93      0.99      0.96       138
        spam       0.99      0.94      0.97       162

    accuracy                           0.96       300
   macro avg       0.96      0.97      0.96       300
weighted avg       0.97      0.96      0.96       300

##### Accuracy Score

In [32]:
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(test_pred, y_test) * 100
print(f"Accuracy of the model is: {accuracy:.2f}%")

Accuracy of the model is: 96.33%